@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    gap: 20px;
  }
  header {
    flex-direction: column;
    padding: 20px;
  }
  
  main {
    flex-direction: column;
  }

  .gallery {
    flex-direction: column;
  }

  section {
    flex-direction: column;
  }

  .image-container,
  .text-container {
    width: 100%;
  }
}


