* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ddd;
    align-items: end;

}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-weight: bold;
    font-size: 1, 2rem;
    color: #00308f;
}

/* Hamburger Navigation Layouts */

.hamburger {
    background: none;
    border: none;
    color: #00308f;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* nav Links Layouts */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    /*remove bullets */
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    /* we've change the default display inline to block */
    padding: 0.8rem 10px;
    text-decoration: none;
    /* change the default color blue.*/
    color: #00308f;
    border-bottom: solid 1px #eee;
}

.navigation a:hover {
    background-color: skyblue;
}

.navigation li.current {
    background-color: #eee;
}

h1 {
    margin-left: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}