:root {
    --primary-color: #002f6c;
    --secondary-color: #87CE;
    --accent-color: #ff6600;
    --text-color: #000000;
    --light-text: #ffffff;
    --font-heading: 'Merriweather', serif;
    --font-body: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-body);
    color: var(--text-color);
}

.top {
    display: grid;
    grid-template-columns: 24px auto 1fr 44px;
    align-items: center;
    column-gap: 10px;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
}

.top img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-weight: bold;
    font-size: 2rem;
    color: var(--light-text);
}

ul {
    display: flex;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--light-text);
    margin-right: 1rem;
}

nav a:hover {
    color: var(--accent-color);
}

.current {
    border-bottom: solid 1px #fff;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
}


h1 {
    margin-left: 10px;
    padding: 1rem;
}

.filter {
    text-align: center;
}

.business {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.card {
    background-color: #eee;
    text-align: center;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

header {
    border-bottom: 1px solid #000000;
}

header h2 {
    font-family: var(--font-heading);
    color: var(--primary-color);
    margin-top: 0;
}

header p {
    padding-bottom: 0.5rem;
}

.card-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.card-info img {
    width: 120px;
    height: auto;
}

figcaption p {
    padding: 0.5rem;
    margin-left: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--accent-color);
    color: var(--light-text);

}

.social {
    display: flex;
}

.social a {
    margin: 0 10px;
}

li {
    list-style: none;
}