:root {
    --primary-color: #002f6c;
    --secondary-color: #87CEEB;
    --accent-color: #ff6600;
    --text-color: #000000;
    --background-color: #f0f8ff;
    --card-color: #eee;
    --light-text: #ffffff;
    --font-heading: 'Merriweather', serif;
    --font-body: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: var(--background-color)
}

.top {
    display: grid;
    grid-template-columns: 24px auto 1fr 44px;
    align-items: center;
    column-gap: 10px;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
}

.top img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-weight: bold;
    font-size: 2rem;
    color: var(--light-text);
}

ul {
    display: flex;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--light-text);
    margin-right: 1rem;
}

nav a:hover {
    color: var(--accent-color);
}

.current {
    border-bottom: solid 2px var(--accent-color);
    font-weight: bold;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    padding: 1rem;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.cta-btn {
    position: absolute;
    bottom: 20%;
    transform: translateX(-50%);
    background: var(--accent-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.cta-btn:hover {
    background: var(--background-color);
    color: var(--text-color);
}

h1 {
    margin-left: 10px;
    padding: 1rem;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
    text-align: center;
}

.filter {
    text-align: center;
}

.business {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5rem;
}

.card,
.spotlights div {
    background-color: var(--card-color);
    text-align: center;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

.card header,
.spotlights p {
    border-bottom: 1px solid var(--text-color);
}

header h2,
header h3 {
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
    margin-top: 0;
}

header p,
.spotlights p {
    padding: 0.5rem 0;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.events h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 1rem 0;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);

}

.events article {
    text-align: center;
    background: var(--card-color);
    padding: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin: 0 1rem;
}

.weather {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 0;
}

.weather h2,
.forecast H2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
    padding: 1rem;
}

.weather img {
    width: 150px;
    height: 150px;
}

#forecast-container p {
    text-align: center;
}

.card {
    overflow: hidden;
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-info {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    padding-top: 1rem;
}

.card-info img {
    width: 120px;
}

.card-info p {
    margin: 0 0 0.8rem;
    line-height: 1.5;
}

.card-info a {
    text-decoration: none;
    color: var(--primary-color);
}

.card-info a:hover {
    color: var(--accent-color);
}

.spotlights {
    display: block;
    margin-bottom: 1rem;
}

.spotlights h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: center;
    gap: 1rem;
}

.members article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: var(--background-color);
    border-radius: 6px;
    padding: 1rem;
}

.members article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.50);
}

.spotlights img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.spotlights a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.spotlights a:hover {
    color: var(--light-text);
}



figcaption p {
    padding: 0.5rem;
    margin-left: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);

}

.footer-contact a {
    color: var(--text-color);
    font-size: 1.1rem;
}

.social {
    display: flex;
}

.social a {
    margin: 0 10px;
}

li {
    list-style: none;
}

/* Form Styling - join.html */

form {
    max-width: 400px;
    padding: 1rem;
    background: var(--card-color);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

form input,
form select,
form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

form input[type="submit"] {
    background: var(--secondary-color);
    color: var(--light-text);
    font-weight: bold;
    padding: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: var(--primary-color);
}

/* membership-card */

.form-and-cards {
    display: flex;
    flex-direction: column;
}

.membership-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    text-align: center;
}

.membership-card {
    padding: 1rem;
    border-radius: 8px;
    background: var(--secondary-color);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1.2s ease forwards;
}

.membership-card:nth-child(1) {
    animation-delay: 0.2s;
}

.membership-card:nth-child(2) {
    animation-delay: 0.4s;
}

.membership-card:nth-child(3) {
    animation-delay: 0.6s;
}

.membership-card:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Confirmation Box */

.confirmation-box {
    border: 1px solid var(--card-color);
    padding: 1rem;
    margin-bottom: 15rem;
    border-radius: 8px;
    background: var(--secondary-color);
}

.confirmation-box p {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* Discover HTML */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* .card {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */