@media screen and (max-width: 499px) {

    .hamburger {
        background: none;
        border: none;
        color: var(--light-text);
        cursor: pointer;
        font-size: 2rem
    }

    .hamburger::before {
        content: "\2630";
    }

    .hamburger.show::before {
        content: "\00D7";
    }

    .nav-bar {
        display: none;
    }

    .nav-bar.show {
        display: block;
    }

    .members,
    .events {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    footer {
        display: block;
        text-align: center;
    }

    footer li {
        align-items: center;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav button {
        display: block;
    }
}

@media (min-width: 600px) {

    .members,
    .events {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    .members {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* members-cards */

@media (min-width: 768px) {
    .form-and-cards {
        flex-direction: row;
        align-items: flex-start;
    }

    form {
        flex: 2;
    }

    .membership-cards {
        flex: 1;
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .membership-cards {
        margin: 0 1rem;
    }
}

/* Discover HTML */

/* Medium Screens (641–1024px): */

@media (min-width: 641px) and (max-width: 1024px) {
    .cards {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }
}

/* Large Screens (1025px+): */

@media (min-width: 1025px) {
    .cards {
        grid-template-areas:
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
    }
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}

#card4 {
    grid-area: card4;
}

#card5 {
    grid-area: card5;
}

#card6 {
    grid-area: card6;
}

#card7 {
    grid-area: card7;
}

#card8 {
    grid-area: card8;
}