@media screen and (max-width: 499px) {

    .hamburger {
        background: none;
        border: none;
        color: var(--light-text);
        cursor: pointer;
        font-size: 2rem
    }

    .hamburger::before {
        content: "\2630";
    }

    .hamburger.show::before {
        content: "\00D7";
    }

    .nav-bar {
        display: none;
    }

    .nav-bar.show {
        display: block;
    }

    .members,
    .events {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    footer {
        display: block;
        text-align: center;
    }

    footer li {
        align-items: center;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav button {
        display: block;
    }
}

@media (min-width: 600px) {

    .members,
    .events {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    .members {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* members-cards */

@media (min-width: 768px) {
    .form-and-cards {
        flex-direction: row;
        align-items: flex-start;
    }

    form {
        flex: 2;
    }

    .membership-cards {
        flex: 1;
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .membership-cards {
        margin: 0 1rem;
    }
}

/* Discover HTML */

@media (min-width: 1025px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .cards img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .cards img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        filter: brightness(1.1);
    }
}