:root {
    --primary-color: #002f6c;
    --secondary-color: #87CE;
    --accent-color: #ff6600;
    --text-color: #000000;
    --light-text: #ffffff;
    --font-heading: 'Merriweather', serif;
    --font-body: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: #f5deb3;
}

.top {
    display: grid;
    grid-template-columns: 24px auto 1fr 44px;
    align-items: center;
    column-gap: 10px;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
}

.top img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-weight: bold;
    font-size: 2rem;
    color: var(--light-text);
}

ul {
    display: flex;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--light-text);
    margin-right: 1rem;
}

nav a:hover {
    color: var(--accent-color);
}

.current {
    border-bottom: solid 1px #fff;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin-left: 10px;
    padding: 1rem;
}

.filter {
    text-align: center;
}

.business,
.spotlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.card,
.spotlights div {
    background-color: #eee;
    text-align: center;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

header,
.spotlights p {
    border-bottom: 1px solid #000000;
}

header h2,
h3 {
    font-family: var(--font-heading);
    color: var(--primary-color);
    margin-top: 0;
}

header p,
.spotlights p {
    padding-bottom: 0.5rem;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
}

.events h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 1rem 0;
    color: var(--primary-color);
}

.events article {
    text-align: center;
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 1rem;
}

.weather {
    text-align: center;
    background-color: #87CE;
    padding: 1rem;
    margin: 0;
}


.card-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.card-info img {
    width: 120px;
    height: auto;
}

.spotlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.spotlights h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    margin: 1rem 0;
    color: var(--primary-color);
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 2;
    gap: 1rem;
}

.members div {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    background: #f5deb3;
}

.members div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.spotlights img {
    width: 120px;
    height: 100px;
    border-radius: 6px;
    margin-top: 0.5rem;
    justify-self: left;
}

.spotlights a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent-color);
}

.spotlights a:hover {
    background: var(--primary-color);
}



figcaption p {
    padding: 0.5rem;
    margin-left: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--accent-color);
    color: var(--text-color);

}

.social {
    display: flex;
}

.social a {
    margin: 0 10px;
}

li {
    list-style: none;
}