@media only screen and (min-width: 38rem) {

    header,
    nav,
    main,
    footer {
        width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        border: solid 1px #eee;
    }

    ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
        background-color: skyblue;
    }

    .navigation li.current {
        background-color: #eee;
    }

    h1,
    h2 {
        text-align: center;
        background-color: #002f6c;
        color: #fff;
        padding: 5px;

    }

    .top-row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .course-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        max-width: 840px;
        margin: 0 auto;
        text-align: center;
    }
}